# Ignore virtual environment
django_env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# tailwind file
tailwind.config.js

# Ignore SQLite database (if used)
db.sqlite3

# Ignore PostgreSQL dumps/backups
*.sql
*.dump
*.json

# Ignore media files (optional)
media/

# Ignore environment variables file
.env

# Ignore VS Code settings
.vscode/

# PyCharm project settings
.idea/
*.iml

