# Ignore virtual environment
django_env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# tailwind file
tailwind.config.js

# Ignore media files (optional)
media/

# Ignore environment variables file
.env

# Ignore VS Code settings
.vscode/

# PyCharm project settings
.idea/
*.iml

