{% extends 'base.html' %}

{% block content %}

<section class="min-h-[84vh] flex items-start justify-center bg-gray-50 pt-20 sm:pt-28">
  <!-- ============================ COMPONENT RESET PASSWORD   ================================= -->
  <div class="w-11/12 max-w-sm sm:max-w-sm bg-white rounded-lg shadow-md">
    <div class="p-4 sm:p-8">
      <h4 class="text-lg sm:text-2xl font-semibold mb-4 text-center">Reset Password</h4>

      {% include 'includes/alerts.html' %}

      <form action="{% url 'resetPassword' %}" method="POST" class="space-y-4">
        {% csrf_token %}

        <!-- Create Password -->
        <div>
          <input type="password" name="password" placeholder="Create Password"
            class="w-full px-3 py-2 rounded-md border border-gray-300 
                   focus:ring-2 focus:ring-blue-400 focus:border-blue-400 
                   text-sm sm:text-base" required>
        </div>

        <!-- Confirm Password -->
        <div>
          <input type="password" name="confirm_password" placeholder="Confirm Password"
            class="w-full px-3 py-2 rounded-md border border-gray-300 
                   focus:ring-2 focus:ring-blue-400 focus:border-blue-400 
                   text-sm sm:text-base" required>
        </div>

        <!-- Submit Button -->
        <div>
          <button type="submit"
            class="w-full bg-blue-600 text-white font-medium py-2 rounded-md 
                   hover:bg-blue-700 transition duration-200 text-sm sm:text-base">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<p class="text-center mt-6 text-xs sm:text-sm">
  Don't have an account?
  <a href="{% url 'register' %}" class="text-blue-600 hover:underline">Sign up</a>
</p>

{% endblock %}
