{% if messages %}
    {% for message in messages %}
        <div id="message" class="container mx-auto px-2 sm:px-4 my-2">
            <div class="relative rounded-md p-2 text-sm sm:text-base md:text-lg 
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            bg-red-100 text-red-800
                        {% else %}
                            bg-green-100 text-green-800
                        {% endif %}" 
                 role="alert">
                
                <button type="button" 
                        class="absolute top-1 right-1 text-lg font-bold leading-none outline-none focus:outline-none"
                        onclick="this.parentElement.parentElement.remove()">
                    &times;
                </button>

                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}
